@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;1,200&family=Poppins:wght@200;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    user-select: none;
    font-family: 'Fira Sans', sans-serif;
}

$text-color:#fff;
$primary-color:#000;


.col_1{
    padding-top:100px;
}

button{
    font-family: 'Fira Sans', sans-serif;

}