.main_container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    border: 2px solid #000;
    .container_1{
        width: 490px;
        height: 490px;
        border: 2px solid #000;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .header{
            margin-top: 70px;
            padding-bottom: 30px;
            h1{
                font-size: 40px;
                font-weight:600;
                font-family: 'Fira Sans', sans-serif;
            }
        }
    }
    .main{
        text-align: center;
        input{
            width: 300px;
            height: 30px;
            border: none;
            border: 2px solid black;
            box-sizing: border-box;
            font-size: 15px;
            color: #000;
            font-weight: 400;
            margin: 15px;
            font-family: 'Fira Sans', sans-serif;

        }
        span{
            display: flex;
            justify-content: center;
            padding-left: 175px;
            a{
              font-family: 'Fira Sans', sans-serif;

            }
        }
        button{
            margin-top: 40px;
            padding: 3px 35px;
            background-color: #fff;
            a{
                text-decoration: none;
                color: #000;
                font-size: 18px;
                font-weight: 400;
               font-family: 'Fira Sans', sans-serif;

            }
        }
        em{
            font-style: normal;
            display: flex;
            text-align: right;
            padding: 30px 324px;
            font-size:17px;
            font-weight: 400;
            a{
                font-size: 17px;
                font-weight: 400;
               font-family: 'Fira Sans', sans-serif;

            }
        }
        .register{
         padding-left: 270px;
         position: relative;
        }
    }
}